@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ranchers&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", serif;
  --font-bangers: "Bangers", serif;
  --font-montserrat: "Montserrat", serif;
  --font-caprasimo: "Caprasimo", serif;
  --font-ranchers: "Ranchers", serif;
  --font-young-serif: "Young Serif", serif;

  --color-cream: #fef7f2;
  --color-sweet-purple: #ccacff;
  --color-pop-green: #d9fa7d;
  --color-pant-red: #fe5678;
}

:root {
  background-color:#ccacff;
}
